[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
