[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "modules/augeasproviders_ssh"]
	path = modules/augeasproviders_ssh
	url = https://github.com/hercules-team/augeasproviders_ssh.git
[submodule "modules/augeasproviders_shellvar"]
	path = modules/augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "modules/augeasproviders_grub"]
	path = modules/augeasproviders_grub
	url = https://github.com/hercules-team/augeasproviders_grub.git
[submodule "modules/augeasproviders_sysctl"]
	path = modules/augeasproviders_sysctl
	url = https://github.com/hercules-team/augeasproviders_sysctl.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
